.audio-call-container {
  display: flex;
  position: absolute;
  top: -62px;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(154, 67, 227),
    rgb(180, 101, 199) 44%,
    rgb(234, 167, 209) 100%
  );
  z-index: 100;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.audio-call__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 85%;
  margin-top: 62px;
}

.audio-call__start-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  .audio-call__title {
    margin: 0;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    opacity: 0.8;
  }

  .audio-call__subtitle {
    font-size: 14px;
    margin: 40px;
    opacity: 0.8;
  }

  .audio-call__btn {
    margin: 0 auto;
    width: 152px;
    height: 48px;
    outline: none;
    font-family: 'Open-Sans', serif;
    padding: 11px 25px 13px;
    font-size: 1.6rem;
    border-radius: 4px;
    transition: all 0.25s;
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0px 0px 8px 3px rgb(246 251 255 / 20%);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.8;
  }
  .audio-call__btn:hover,
  .audio-call__btn:active {
    box-shadow: 0px 0px 2px 3px rgba(246, 251, 255, 1);
    opacity: 1;
  }
}

.audio-call__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.25s;
  opacity: 0.8;
}

.audio-call__close:hover {
  opacity: 1;
}

.audio-call__close::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  transform: rotate(45deg);
  background-color: #fff;
}

.audio-call__close::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  transform: rotate(-45deg);
  background-color: #fff;
}

.audio-call__play-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  .audio-call__collection {
    display: flex;
    column-gap: 10px;
    margin: 40px;
    opacity: 0;
    transition: all 0.3s;
    .audio-call__collection-item {
      position: relative;
      display: flex;
      align-items: center;
      color: #fff;
      letter-spacing: 0.05em;
      padding: 10px 20px;
      border-radius: 4px;
      opacity: 0.8;
      cursor: pointer;
      transition: all 0.25s;
      .call-number {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 12px;
        opacity: 0.5;
      }
    }

    .audio-call__collection-item:hover {
      background-color: #c58dcf;
      opacity: 1;
    }
  }

  .audio-call__collection-active {
    opacity: 1;
  }

  .audio-call__collection-disabled {
    z-index: -1;
  }

  .audio-call__btn {
    position: relative;
    margin: 0 auto;
    width: 152px;
    height: 48px;
    outline: none;
    font-family: 'Open-Sans', serif;
    padding: 11px 25px 13px;
    font-size: 1.6rem;
    border-radius: 4px;
    transition: all 0.5s;
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0px 0px 8px 3px rgb(246 251 255 / 20%);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.8;
    .audio-call__play-arrow {
      position: absolute;
      width: 60px;
      padding-left: 10px;
      height: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: #fff;
      opacity: 0;
      transition: all 0.5s;
    }

    .arrow-active {
      opacity: 0.8;
    }
  }

  .audio-call__btn:hover,
  .audio-call__btn:active {
    box-shadow: 0px 0px 2px 3px rgba(246, 251, 255, 1);
    opacity: 1;
  }
}

.audio-call__repeat-container {
  display: inline-flex;
  position: relative;
  .play-btn {
    position: absolute;
    left: 50%;
    bottom: -180px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: #c179cd;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
    z-index: -1;
    .audio-call__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;
      fill: #fff;
    }
  }

  .play-btn:hover {
    opacity: 1;
  }

  .active-block {
    opacity: 0.8;
    bottom: 0;
    z-index: 0;
  }

  .audio-call__repeat-sucsses-container {
    position: absolute;
    left: 50%;
    bottom: -180px;
    transform: translateX(-50%);
    transition: 0.5s;
    z-index: -1;
    opacity: 0;
    .repeat-word-img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -100px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .repeat-sucsses__subtitle-container {
      display: inline-flex;
      column-gap: 20px;
      align-items: center;
      .audio-call__subtitle-repeat-btn {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: #c179cd;
        transition: all 0.5s;
        cursor: pointer;
        opacity: 0.6;
        .audio-call__img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          height: 30px;
          fill: #fff;
        }
      }

      .audio-call__subtitle-repeat-btn:hover {
        opacity: 1;
      }
    }
  }

  .active-block {
    opacity: 0.7;
    bottom: 0;
    z-index: 0;
  }
}

.audio-call__statistics {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.audio-call__regulation {
  display: inline-flex;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
  .audio-call__regulation-title {
    margin: 20px 0;
    color: #fff;
    opacity: 0.8;
    letter-spacing: 0.05em;
  }

  .audio-call__regulation-btn {
    position: relative;
    width: 70px;
    height: 40px;
    background-color: transparent;
    border: none;
    transition: all 0.25s;
    box-shadow: 0px 0px 8px 3px rgb(246 251 255 / 20%);
    border-radius: 4px;
    cursor: pointer;
    .audio-call__regulation-arrow {
      position: absolute;
      width: 60px;
      height: 40px;
      fill: #fff;
      opacity: 0.8;
      top: 0;
      left: 0;
      transform: rotate(180deg);
    }

    .audio-call__regulation-arrow-active {
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
    }
  }

  .audio-call__regulation-btn:hover {
    box-shadow: 0px 0px 2px 3px rgba(246, 251, 255, 1);
    opacity: 1;
  }

  .audio-call__discription {
    width: 340px;
    height: 250px;
    overflow: auto;
    position: absolute;
    top: 70px;
    right: -300%;
    padding: 20px;
    background-color: #dabadb;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 30%);
    transition: all 0.5s;
    .audio-call__discription-item {
      letter-spacing: 0.02em;
      font-family: 'Open-Sans';
    }
  }

  .audio-call__discription-active {
    right: 0;
  }

  .audio-call__discription::-webkit-scrollbar {
    width: 8px;
  }

  .audio-call__discription::-webkit-scrollbar-track {
    background: none;
  }

  .audio-call__discription::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 6px;
  }
}

.audio-call__regulation-disabled {
  right: -100%;
}

.audio-call__settings {
  display: inline-flex;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  .audio-call__settings-title {
    margin: 20px 0;
    color: #fff;
    opacity: 0.8;
    letter-spacing: 0.05em;
  }
  .audio-call__settings-btn {
    position: relative;
    width: 70px;
    height: 40px;
    background-color: transparent;
    border: none;
    transition: all 0.25s;
    box-shadow: 0px 0px 8px 3px rgb(246 251 255 / 20%);
    border-radius: 4px;
    cursor: pointer;
    .audio-call__arrow {
      position: absolute;
      width: 60px;
      height: 40px;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      fill: #fff;
      opacity: 0.8;
    }

    .audio-call__arrow-active {
      top: 0;
      left: 0;
      transform: rotate(180deg);
    }
  }

  .audio-call__settings-btn:hover {
    box-shadow: 0px 0px 2px 3px rgba(246, 251, 255, 1);
    opacity: 1;
  }

  .audio-call__settings-chapter {
    display: inline-flex;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    top: 70px;
    left: -100%;
    transition: all 0.5s;
    .settings-chapter__container {
      display: flex;
      column-gap: 20px;
      .settings-chapter__container-item {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }

      .settings-chapter__container-item + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        color: #fff;
        opacity: 0.8;
      }

      .settings-chapter__container-item + label::before {
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        cursor: pointer;
        transition: all 0.25s;
      }

      .settings-chapter__container-item:not(:disabled):not(:checked)
        + label:hover::before {
        border-color: rgb(189, 189, 189);
        box-shadow: 0px 0px 2px 3px rgb(246 251 255 / 50%);
      }

      .settings-chapter__container-item:not(:disabled):active + label::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
      }

      .settings-chapter__container-item:checked + label::before {
        border-color: #fff;
        background-color: #fff;
      }
    }

    .audio-call__btn {
      margin: 20px 0 0 35px;
      width: 60px;
      height: 40px;
      outline: none;
      font-family: 'Open-Sans', serif;
      font-size: 1.6rem;
      border-radius: 4px;
      transition: all 0.25s;
      color: #fff;
      border: none;
      background-color: transparent;
      cursor: pointer;
      box-shadow: 0px 0px 8px 3px rgb(246 251 255 / 20%);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      opacity: 0.8;
    }

    .audio-call__btn:hover,
    .audio-call__btn:active {
      box-shadow: 0px 0px 2px 3px rgba(246, 251, 255, 1);
      opacity: 1;
    }
  }

  .settings-chapter__active {
    left: 0;
  }
}

.audio-call__settings-disabled {
  left: -100%;
}

.audio-call__statistics {
  position: relative;
}

.audio-call__statistics-page {
  padding: 30px;
  background-color: #ffffffba;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 30%);
  transition: all 0.5s;
  .statistics-page__main-container {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 350px;
    .call__statistics-page {
      width: 100%;
      height: 100%;
      transition: all 0.5s;
      .call__statistics-title {
        color: #4caf50;
        opacity: 0.8;
        letter-spacing: 0.05em;
        text-align: center;
      }

      .statistics-subtitle__container {
        display: flex;
        column-gap: 15px;
        justify-content: center;
        .call__statistics-subtitle {
          margin: 0;
          color: #000;
          .statistics-subtitle__item-1 {
            color: #4caf50;
          }

          .statistics-subtitle__item-2 {
            color: #f03e3d;
          }
        }
      }
      .diagram-container {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        .diagram-container__item {
          position: relative;
          width: 300px;
          height: 200px;
          .audio-call__canvas {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 150px;
          }
          .audio-call__canvas-procent {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            transform: translate(-50%, -50%);
            color: #4caf50;
          }

          .audio-call__canvas-procent::after {
            content: '%';
          }
        }
      }
    }

    .statistics__page-1 {
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.5s;
    }

    .statistics__page-2 {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      position: absolute;
      overflow: auto;
      top: 0;
      left: 100%;
      padding: 10px;
      transition: all 0.5s;
      .statistics-page__wrapper-item {
        display: flex;
        column-gap: 10px;
        align-items: flex-end;
        .statistics-page2__btn {
          display: flex;
          background-color: transparent;
          border: none;
          .audio-call__stat-img {
            width: 20px;
            height: 20px;
            fill: #9e9e9e;
            transition: all 0.25s;
            cursor: pointer;
          }

          .audio-call__stat-img:hover {
            fill: #1943ef;
          }
        }

        .statistics-word__origin {
          text-decoration: underline;
        }

        .statistics-dash {
          color: #000;
        }

        .statistics-word__translate {
          color: #000;
        }

        .statistics-mark {
          display: inline-flex;
          width: 20px;
          height: 20px;
        }
      }
    }

    .statistics__page-2::-webkit-scrollbar {
      width: 12px;
    }

    .statistics__page-2::-webkit-scrollbar-track {
      background: none;
    }

    .statistics__page-2::-webkit-scrollbar-thumb {
      background-color: #9e9e9e;
      border-radius: 6px;
    }
  }

  .swipe-container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 20px 0;
    .swipe-container__item {
      display: flex;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: #4caf50a1 3px solid;
      transition: all 0.25s;
      cursor: pointer;
    }

    .swipe-container__item:hover {
      border: #4caf50 3px solid;
    }

    .swipe-container__item-active {
      border: #4caf4f00 3px solid;
      background-color: #4caf50a1;
    }
  }

  .call-statistics__bnt-container {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    .call-statistics__btn {
      width: 130px;
      height: 40px;
      outline: none;
      font-family: 'Open-Sans', serif;
      font-size: 14px;
      border-radius: 4px;
      transition: all 0.25s;
      color: #fff;
      border: 1px solid #ff9900;
      background-color: #ff9900;
      cursor: pointer;
    }

    .call-statistics__btn:hover {
      background-color: #ffffffba;
      color: #ff9900;
    }
  }
}

.hide {
  display: none;
}
