@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/fonts/gilroy/fonts/gilroy-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open-Sans";
  src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

