.preloader-page {
  width: 250px;
  height: 250px;
  font-size: 25px;
  box-sizing: border-box;
  border-top: 0.3em solid hotpink;
  border-radius: 50%;
  position: fixed;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
  transition: all 1s;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.preloader-page-active {
  opacity: 1;
  visibility: visible;
  z-index: 110;
}

.preloader-page::before,
.preloader-page::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}

.preloader-page::before {
  border-top: 0.3em solid dodgerblue;
  transform: rotate(120deg);
}

.preloader-page::after {
  border-top: 0.3em solid gold;
  transform: rotate(240deg);
}

.preloader-page .loader-page__item {
  position: absolute;
  color: rgb(0, 0, 0);
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
  --direction: -1;
}

@keyframes rotating {
  50% {
    transform: rotate(calc(180deg * var(--direction)));
  }

  100% {
    transform: rotate(calc(360deg * var(--direction)));
  }
}
