<section class="game__sprint hide">
  <div class="game__sprint__bg-top"></div>
  <div class="game__sprint__bg-bottom"></div>
  <div class="game__sprint__wrap">
    <div class="game__sprint__main-field">
      <div class="game__sprint__score">Счёт:</div>
      <a class="close" href="/#/games">
        <svg class="svg_icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
        </svg> 
      </a>
      <div class="game__sprint__bonus__star" id="current_Bonus">
        <div class="game__sprint__bonus__area__1" id="current_Bonus__area__1"></div>
        <div class="game__sprint__bonus__area__2" id="current_Bonus__area__2"></div>
        <div class="game__sprint__bonus__area__3" id="current_Bonus__area__3"></div>
      </div>
      <div class="game__sprint__time__block">
        <div class="game__sprint__time__block_svg"><svg class="timer_svg" width="150" height="150">
            <circle class="circle" cx="80" cy="80" r="60"></circle>undefined
          </svg></div>
        <div class="game__sprint__time__count"></div>
      </div>
    </div>
    <div class="game__sprint__bonus__area__count" id="game__sprint__bonus__area__count">
      <div class="game__sprint__bonus__item1" id="game__sprint__bonus__item1"></div>
      <div class="game__sprint__bonus__item2" id="game__sprint__bonus__item2"></div>
      <div class="game__sprint__bonus__item3" id="game__sprint__bonus__item3"></div>
      <div class="game__sprint__bonus__item4" id="game__sprint__bonus__item4"></div>
    </div>
    <div class="game__sprint__checkAnswer__area" id="game__sprint__checkAnswer__area"></div>
    <div class="game__sprint__btns">
      <div class="button btn-true" id="trueBtn">Верно</div>
      <div class="game__sprint__play-content">
        <div class="game__sprint__word"></div>
        <div class="game__sprint__translation"></div>
      </div>
      <div class="button  btn-false" id="falseBtn">Неверно</div>
    </div>
  </div>
</section>