<section class="game__sprint hide">
  <div class="game__sprint__wrap">
    <div class="game__sprint__main-field">
      <div class="game__sprint__question-wrapper">
        <button class="game__sprint__sound">
          <span class="game__sprint__button__content">
            <span class="sound-icon">
              <svg svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32">
                <path fill="currentColor"
                  d="M15.788 13.007a3 3 0 110 5.985c.571 3.312 2.064 5.675 3.815 5.675 2.244 0 4.064-3.88 4.064-8.667 0-4.786-1.82-8.667-4.064-8.667-1.751 0-3.244 2.363-3.815 5.674zM19 26c-3.314 0-12-4.144-12-10S15.686 6 19 6s6 4.477 6 10-2.686 10-6 10z"
                  fill-rule="evenodd"></path>
              </svg>
            </span>
          </span>
        </button>
        <div class="game__sprint__score"></div>
        <div class="game__sprint__btn-sound game__sprint__btn-sound-muted"></div>
        <div class="game__sprint__bonus-field">
          <div class="game__sprint__bonus__star" id="current_Bonus">
            <div class="game__sprint__bonus__area__1" id="current_Bonus__area__1"></div>
            <div class="game__sprint__bonus__area__2" id="current_Bonus__area__2"></div>
            <div class="game__sprint__bonus__area__3" id="current_Bonus__area__3"></div>
          </div>
          <div class="game__sprint__bonus__area__count" id="game__sprint__bonus__area__count">
            <div class="game__sprint__bonus__item1" id="game__sprint__bonus__item1"></div>
            <div class="game__sprint__bonus__item2" id="game__sprint__bonus__item2"></div>
            <div class="game__sprint__bonus__item3" id="game__sprint__bonus__item3"></div>
            <div class="game__sprint__bonus__item4" id="game__sprint__bonus__item4"></div>
            <div class="game__sprint__bonus__area__branch"></div>
          </div>
        </div>
        <div class="game__sprint__word"></div>
        <div class="game__sprint__translation"></div>
      </div>
    </div>
    <div class="game__sprint__btns-field">
      <div class="game__sprint__btns-wrap">
        <button
          class="button btn-false" id="falseBtn">
          <span class="game__sprint__btns__content">
            <span>Неверно</span>
          </span>
        </button>
        <button
          class="button btn-true" id="trueBtn">
          <span class="game__sprint__btns__content">
            <span>Верно</span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="game__sprint__time__block">
    <div class="game__sprint__time__block_svg"><svg class="timer_svg" width="150" height="150">
        <circle class="circle" cx="80" cy="80" r="60"></circle>undefined
      </svg></div>
    <div class="game__sprint__time__count"></div>
  </div>
  <div class="game__sprint__exit">
    <a class="close" href="/#/games">
      <svg class="svg_icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
      </svg> 
    </a>
  </div>
  </div>
</section>

<section class="game__sprint hide">
  <div class="game__sprint__bg-top"></div>
  <div class="game__sprint__bg-bottom"></div>
  <div class="game__sprint__wrap">
    <div class="game__sprint__main-field">
      <div class="game__sprint__score">Счёт:</div>
      <a class="close" href="/#/games">
        <svg class="svg_icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
        </svg> 
      </a>
      <div class="game__sprint__bonus__star" id="current_Bonus">
        <div class="game__sprint__bonus__area__1" id="current_Bonus__area__1"></div>
        <div class="game__sprint__bonus__area__2" id="current_Bonus__area__2"></div>
        <div class="game__sprint__bonus__area__3" id="current_Bonus__area__3"></div>
      </div>
      <div class="game__sprint__time__block">
        <div class="game__sprint__time__block_svg"><svg class="timer_svg" width="150" height="150">
            <circle class="circle" cx="80" cy="80" r="60"></circle>undefined
          </svg></div>
        <div class="game__sprint__time__count"></div>
      </div>
    </div>
    <div class="game__sprint__bonus__area__count" id="game__sprint__bonus__area__count">
      <div class="game__sprint__bonus__item1" id="game__sprint__bonus__item1"></div>
      <div class="game__sprint__bonus__item2" id="game__sprint__bonus__item2"></div>
      <div class="game__sprint__bonus__item3" id="game__sprint__bonus__item3"></div>
      <div class="game__sprint__bonus__item4" id="game__sprint__bonus__item4"></div>
    </div>
    <div class="game__sprint__checkAnswer__area" id="game__sprint__checkAnswer__area"></div>
    <div class="game__sprint__btns">
      <div class="button btn-true" id="trueBtn">Верно</div>
      <div class="game__sprint__play-content">
        <div class="game__sprint__word"></div>
        <div class="game__sprint__translation"></div>
      </div>
      <div class="button  btn-false" id="falseBtn">Неверно</div>
    </div>
  </div>
</section>